name: Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 3.27.140.44
          username: ec2-user
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/Laravel-Deployment
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan config:cache
            
            # Fix permissions for Nginx
            sudo chown -R ec2-user:nginx .
            sudo chmod -R 775 storage bootstrap/cache
            
            # Restart services
            sudo systemctl restart php-fpm
            sudo systemctl restart nginx
