name: Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ec2-user/Laravel-Deployment
            git pull origin main
            composer install --no-dev --optimize-autoloader
            # Use dot (.) to ensure it targets the current folder correctly
            sudo chown -R ec2-user:nginx .
            sudo chmod -R 775 storage bootstrap/cache
            sudo systemctl restart php-fpm
            sudo systemctl restart nginx
